.acceuil{
  padding: 20px;
  text-align: center;
  
}
.headerStyle {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center;    /* Centrer verticalement */
  height: 50px;          /* Hauteur de l'en-tête (modifiez si nécessaire) */
  background-color: #f4f4f4; /* Couleur d'arrière-plan (optionnel) */
  background-color: cadetblue;
}

.navStyle {
  display: flex;
}

.navListStyle {
  display: flex;
  list-style: none;       /* Retirer les puces de la liste */
  padding: 0;
  margin: 0;
}

.navItemStyle {
  margin: 0 15px;         /* Espacement entre les éléments */
}

.linkStyle {
  text-decoration: none;  /* Retirer le soulignement des liens */
  color: #000;            /* Couleur des liens (modifiable) */
  font-size: 16px;
}
